
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
               
              </div>
              
            </div>
          </div>
        </div>
   


        <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
                <div class="card-body">
              <h5 class="card-title text-uppercase ">Inscribir Alumno</h5>
              <hr>
              <form name="formulario" class="mt-3" action="/curso/cursandoCurso/{{Id_Curso}}/{{alumno.Rut_Alumno}}" method="POST">

                    <div class=" row form-group">
                        <label for="Rut_Alumno" class="col-form-label col-md-2">Rut:</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control ml2" name="Rut_Alumno" id="Rut_Alumno" maxlength="50" value="{{alumno.Rut_Alumno}}"
                                placeholder="Rut" disabled  required>
                                
                        </div>
                    </div>
                     <div class=" row form-group">
                        <label for="NombreP_Alumno" class="col-form-label col-md-2">Primer Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control ml2" name="NombreP_Alumno" id="NombreP_Alumno" maxlength="50" value="{{alumno.NombreP_Alumno}}"
                                placeholder="Primer Nombre" disabled  required>
                        </div>
                         <label for="NombreS_Alumno" class="col-form-label col-md-2">Segundo Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control ml2" name="NombreS_Alumno" id="NombreS_Alumno" maxlength="50" value="{{alumno.NombreS_Alumno}}"
                                placeholder="Segundo Nombre" disabled  required>
                        </div>
                    </div>
                     <div class=" row form-group">
                        <label for="ApellidoP_Alumno" class="col-form-label col-md-2">Apellido Paterno:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control ml2" name="ApellidoP_Alumno" id="ApellidoP_Alumno" maxlength="50" value="{{alumno.ApellidoP_Alumno}}"
                                placeholder="Apellido Paterno" disabled  required>
                        </div>
                         <label for="ApellidoM_Alumno" class="col-form-label col-md-2">Apellido Materno:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control ml2" name="ApellidoM_Alumno" id="ApellidoM_Alumno" maxlength="50" value="{{alumno.ApellidoP_Alumno}}"
                                placeholder="Apellido Materno" disabled  required>
                        </div>
                    </div>
                  <div class=" row form-group">
                        <label for="Email_Alumno" class="col-form-label col-md-2">Email:</label>
                        <div class="col-md-8">
                            <input type="email" class="form-control ml2" name="Email_Alumno" id="Email_Alumno" maxlength="50" value="{{alumno.Email_Alumno}}"
                                placeholder="Email" disabled required>
                        </div>
                    </div>
                   
                <input type="hidden" name="Id_Curso" value="{{Id_Curso}}">
                   
                  
                    <hr>
                  <div class="row form-group mt-2">
                  <div class="col-md-4 col-sm-12 "><a href="/curso/mostarCurso/{{Id_Curso}}" class="btn-sm w-50 btn btn-success">volver</a></div>
                  <div class="col-md-4 mx-auto "></div>
                  <div class="col-md-4 col-sm-12 "><input type="submit" class="float-right w-50 btn btn-success btn-sm" style="color: white; background-color: #143FDE;" value="Inscribir"></div>
                </div>
                </form>
                </div>
            </div>
          </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
  