    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
               
              </div>
            </div>
          </div>
        </div>
        <!-- modal nueva carpeta -->

          <div class="row">
          <div class="col-md-12 stretch-card">
            <div class="card">
              <div class="card-body">
             <form name="formulario" class="mt-3" action="/usuario/editarUsuario/" method="POST">

                    <div class=" row form-group">
                        <label for="Rut_Usuario" class="col-form-label col-md-3">Rut:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Rut_Usuario" id="Rut_Usuario" maxlength="50"
                               value="{{usuario.Rut_Usuario}}"   required>
                        </div>
                        
                          <label for="Rut_Usuario" class="col-form-label col-md-3">Estado:</label>
                          <div class="col-md-3">
                            <select name="" id="" class="form-control">
                             <option value="1">Activdado</option>
                             <option value="0">Descativado </option>
                            </select>
                         </div>
                    </div>

                    <div class="row form-group">
                        <label for="NombreP_Usuario" class="col-form-label col-md-3">Primer Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="NombreP_Usuario" id="NombreP_Usuario" 
                                 value="{{usuario.NombreP_Usuario}}" required>
                        </div>
                        <label for="NombreS_Usuario" class="col-form-label col-md-3">Segundo Nombre:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="NombreS_Usuario" id="NombreS_Usuario"
                                maxlength="20"  value="{{usuario.NombreS_Usuario}}" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="ApellidoP_Usuario" class="col-form-label col-md-3">Apellido Pat.:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="ApellidoP_Usuario" id="ApellidoP_Usuario" 
                                 value="{{usuario.ApellidoP_Usuario}}" required>
                        </div>
                        <label for="ApellidoM_Usuario" class="col-form-label col-md-3">Apellido Mat.:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="ApellidoM_Usuario" id="ApellidoM_Usuario"
                                maxlength="20"  value="{{usuario.ApellidoM_Usuario}}" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label for="Email_Usuario" class="col-form-label col-md-3">Email:</label>
                        <div class="col-md-3">
                            <input type="text" class="form-control" name="Email_Usuario" id="Email_Usuario" 
                                 value="{{usuario.Email_Usuario}}" required>
                        </div>
                       
                        <div class="col-md-3">
                        
                        </div>
                    </div>
                  <hr>
                    <div class="row form-group mt-2">
                        <div class = "col-md-4"><input type="text" class="form-control"></div>
                        <div class = "col-md-4"></div>
                        <div class = "col-md-4"><input type="submit" class="form-control"></div>
                    </div>

                  
                    
                    
                </form>
            </div>
            </div>
          </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
  

  