
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-md-12 grid-margin">
          <div class="d-flex justify-content-between flex-wrap">
            <div class="d-flex align-items-end flex-wrap">
             
            
            </div>
            <div class="d-flex justify-content-between align-items-end flex-wrap">

              <a class="btn btn-primary mt-2 mt-xl-0" style="color: white; background-color: #143FDE;"
                href="/curso/addCurso/{{CARPETA.Id_Carpeta}}"><i class="mdi mdi-plus "></i>Nuevo Curso</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 stretch-card">
          <div class="card">
            <div class="card-body">
              <p class="card-title text-uppercase">Cursos de {{CARPETA.Nombre_carpeta}}</p>
              <hr>
              <div class="row">
                {{#each cursos}}
                <div class="col-md-4 mx-auto mt-4">
                  <div class="card">
                    <div class="row ">

                      <div class="card-sm mx-auto align-text-bottom  col-md-6" style="margin-left: 0;">
                        <a href="/curso/mostarCurso/{{Id_Curso}}"><span
                            class="text-uppercase">{{Nombre_Curso}}</span></a>
                      </div>
                      <div class="card-sm  col-md-4 p-2">
                        <a href="/curso/eliminarCurso/{{Id_Curso}}/{{Id_Carpeta}}" class="btn btn-danger btn-sm"><i
                            class="mdi mdi-delete"></i></a>
                        <a href="/curso/editarCurso/{{Id_Curso}}" class="btn btn-secondary btn-sm"><i
                            class="mdi mdi-border-color"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                {{else}}
                <div class="col-md-4 mx-auto">
                  <p>No hay Cursos creados en esta carpeta!!</p>
                  <p>Haz Click<a href="/curso/addCurso/{{CARPETA.Id_Carpeta}}"> aqui </a> para Crear uno</p>
                </div>
                {{/each}}
              </div>
              <hr>
              <div class="row form-group mt-2">
                <div class="col-md-4 "><a href="/carpeta/principal" class="btn-sm w-50 btn btn-success">volver</a></div>
                <div class="col-md-4 mx-auto "></div>
                <div class="col-md-4 "></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->

    <!-- partial -->
  </div>

