<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-12 grid-margin">
        <div class="d-flex justify-content-between flex-wrap">


        </div>
      </div>
    </div>
    <!-- modal nueva carpeta -->



    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-uppercase">Informacion del Curso</h4>
          <hr>

          <div class="row w-100">

            <div class=" row form-group col-md-12">
              <label for="Nombre_Rubrica" class="col-form-label col-md-2">Nombre Curso:</label>
              <div class="col-md-10">
                <label for="Nombre_Rubrica" class="col-form-label col-md-">{{curso.Nombre_Curso}}</label>

              </div>
              <div class=" row form-group col-md-12">
                <label for="Descripcion_Rubrica" class="col-form-label col-md-2">Descripción Curso:</label>
                <div class="col-md-10">
                  <label for="Descripcion_Rubrica" class="col-form-label col-md-">{{curso.Descripcion_Curso}}</label>



                </div>
              </div>
              <div class="row form-group  col-md-12">
                <div class="col-md-4 "> <a class="btn  mt-2 mt-xl-0 btn-sm"
                    style="color: white; background-color: #143FDE;" href="/curso/addAlumno/{{curso.Id_Curso}}"><i
                      class="mdi mdi-plus  "></i>Nuevo Alumno</a></div>

                <div class="col-md-4 "> <a class="btn  mt-2 mt-xl-0 btn-sm"
                    style="color: white; background-color: #143FDE;" data-toggle="modal" href="#modal_configurar"><i
                      class="mdi mdi-plus "></i>Agregar Evaluación</a></div>
               
              </div>
            </div>


            <hr>
          </div>
        </div>
        <br>
        <div class="table-responsive mt-3 ">
          <table class="table table-bordered ml-2 mr-2" id="tabla_curso">
            <thead>
              <tr>
                <th>
                  <span style="font-size: 15px">Acción</span>
                </th>

                <th>
                  <span style="font-size: 15px">Nombre Alumno</span>
                </th>
                {{#each evaluacion}}
                <th>
                  <span style="font-size: 15px"><a href="/curso/editarEvaluacion/{{Id_Evaluacion}}">{{Nombre_Evaluacion}}</a></span>
                </th>
                {{/each}}

                <th style="width: 50px">
                  <span style="font-size: 15px">Promedio</span>
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each alumno }}

              <tr>
                <td> <a href="/curso/eliminarAlumno/{{Id_Curso}}/{{Rut_Alumno}}"
                    class="btn btn-danger btn-sm mx-auto"><i class="mdi mdi-delete "></i></a></td>

                <td class="text-uppercase" style="font-size: 11px">{{NombreP_Alumno}} {{NombreS_Alumno}} {{ApellidoP_Alumno}}
                  {{ApellidoM_Alumno}}</td>

                {{#each ../evaluacion}}
                <th>

                </th>
                {{/each}}
                <th>
                  <span></span>
                </th>


              </tr>

              {{else}}

              <div class="col-md-4 mx-auto">
                <p>No hay Alumnos inscritos en este Curso</p>

              </div>

              {{/each}}
            </tbody>
          </table>

        </div>
        <hr>
        <div class="row form-group w-100 mt-2 col-md-12">
          <div class="col-md-4 "><a href="/curso/verCurso/{{curso.Id_Carpeta}}"
              class=" mt-2 mt-xl-0 btn btn-success  ">volver</a> </div>
          <div class="col-md-4 "></div>
          <div class="col-md-4 "></div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

<!--Ventana modal para agregar una evaluacion-->
<div class="modal fade" id="modal_configurar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" style="width: 65% !important;">
    <div class="modal-content">

      <!--Parte de arriba (Header) del modal.-->
      <div class="modal-header">
        <h5 class="box-title">AGREGAR EVALUACION

        </h5>
      </div>



      <!--Parte principal (body) del modal.-->
      <div class="modal-body mx-auto w-100">
        <!--Aqui inicia el formulario el cual tiene el onsubmit para validar, antes de irse a otra pagina.-->
        <form name="formulario" onsubmit="return validar_configurar()" action="/curso/agregarEvaluacion" method="POST">
          <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <label>Nombre Evaluacion:</label>
            <input type="text" class="form-control" name="Nombre_Evaluacion" id="Nombre_Evaluacion" maxlength="20"
              placeholder="Password" required>

          </div>

          <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">

            <label>Ponderacion:</label>
            <input type="text" class="form-control" name="Ponderacion_Evaluacion" id="Ponderacion_Evaluacion"
              maxlength="20" placeholder="Ponderacion" required>
          </div>

          <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <!--Si cliqueo el boton Guardar, es como si cliqueara un <input type="submit"> (tiene el type="submit")
                               Y si lo hago, me ejecutara el onsubmit del form que me llevara a un javascript-->
            <button class="btn btn-primary" style="color: white; background-color: #143FDE;" type="submit"
              id="btnGuardar"><i class="fa fa-save"></i> Guardar</button>


          </div>
          <input type="hidden" class="form-control" name="Id_Curso" id="Id_Curso" maxlength="11"
            value="{{curso.Id_Curso}}" required>
        </form>
      </div>

      <!--Parte baja (footer) del modal (no suele llevar nada).-->
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>